<div class="container middle ">

	<%= form_for @post do |f| %>
	<%= f.select :category, Post::CATEGORIES, prompt: "Pick one" %><br><br>
	<%= f.label :description %><br>
	<%= f.text_field :description %><br><br>
	<%= f.label :code %><br>
	<%= f.text_area :code, cols: 40 %><br><br>


	<%= f.submit "Save" %><br>

	<% end %>
	<br>
	<%= link_to 'Delete', @post, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

