<% if user_signed_in? %>
<div class="header-div">
  <h1 class="nav-header home-background"><%= link_to "My Code Library", root_path, class: "nav-link" %></h1>
</div>
<ul class="nav " id="nav_bar">
  <li class=" nav-item">
    <%= link_to "Home", root_path, class: "nav-link home-space"%>
  </li>

  <div class="nav">
    <div class=" nav-item dropdown">
      <div>
        <div class=" nav-link dropdown-toggle" data-toggle="dropdown">
          Menu
        </div>
        <div class="dropdown-menu">
          <a class="dropdown-item ">  
            <%= link_to 'New Post', new_post_path, class: "nav-link" %>
          </a> 
          <% if current_user.type == "AdminUser" %>
          <a class="dropdown-item"> 
            <%= link_to 'Admin Dashboard', admin_users_path, class: "nav-link" %>
          </a> 
        </div>
        <%end%>
      </div>
    </div>
  </div>
  <% else %>
  <%end%>
  <% if user_signed_in? %>
  <div class="nav">
    <li class="nav-item new-post"> 
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link home-space" %>
    </li> 
  </div>
</ul>
<%end%>
