<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	
</head>
<div id="flash_messages"><%= flash_messages(:close) %></div>
<% if user_signed_in? %>
<ul class="nav">
	<li class=" nav-item">
		<%= link_to "Home", root_path, class: "nav-link home-space"%>
	</li>
	<li class=" nav-item ">	
		<%= link_to 'New Post', new_post_path, class: "nav-link home-space" %>
	</li> 

	<% if current_user.type == "AdminUser" %>
	
	<li class=" nav-item ">	
		<%= link_to 'Admin Dashboard', admin_users_path, class: "nav-link home-space" %>
	</li> 
	<%end%>
	
	<li class=" nav-item new-post">	
		<%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link home-space" %>
	</li> 
	<% else %>
	
	<%end%>
</ul>


<% if user_signed_in? %>
<hr style="border: .5px solid#032533;" />

<ul class="nav justify-content-center">
	<% @categories.each do |category| %>
	<li class="nav-item nav-space">
		<%= link_to "#{category}", category_posts_path(category), class: "nav-link" %>
	</li>
	<%end%>
</ul>

<div class="container">
	<div class="middle has-search">
		<input type="text" class="search" placeholder="Search">
	</div>
</div>

<%end%>

<body>
	<%= yield %>
</body>

<% if user_signed_in? %>
<footer class="footer">
	<hr style="border: .5px solid#032533;" />
	<ul class="nav justify-content-center">
		<% Post::CATEGORIES.each do |category| %>
		<li class="nav-item nav-space">
			<%= link_to "#{category}", category_posts_path(category), class: "nav-link" %>
		</li>
		<%end%>
	</ul>
</footer>
<%end%>
</html>
