<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<ul class="nav">
	<li class="nav-item">
		<%= link_to "Home", root_path, class: "nav-link home-space"%>
	</li>
	<li class="nav-item ">	
		<%= link_to 'New Post', new_post_path, class: "nav-link home-space" %>
	</li>
</ul>



<ul class="nav justify-content-center">
	<li class="nav-item nav-space">
		<%= link_to 'Rails', filtered_posts_path(:rails), class: "nav-link" %>
	</li>
	<li class="nav-item nav-space">
		<%= link_to 'Javascript', filtered_posts_path(:javascript), class: "nav-link" %>
	</li>
	<li class="nav-item nav-space">
		<%= link_to 'HTML', filtered_posts_path(:html), class: "nav-link" %>
	</li>
	<li class="nav-item nav-space">
		<%= link_to 'Ruby', filtered_posts_path(:ruby), class: "nav-link" %>
	</li>
</ul>



<body>
	<%= yield %>
</body>

<footer class="footer">
	<ul class="nav justify-content-center">
		<li class="nav-item nav-space">
			<%= link_to 'Rails', filtered_posts_path(:rails), class: "nav-link" %>
		</li>
		<li class="nav-item nav-space">
			<%= link_to 'Javascript', filtered_posts_path(:javascript), class: "nav-link" %>
		</li>
		<li class="nav-item nav-space">
			<%= link_to 'HTML', filtered_posts_path(:html), class: "nav-link" %>
		</li>
		<li class="nav-item nav-space">
			<%= link_to 'Ruby', filtered_posts_path(:ruby), class: "nav-link" %>
		</li>
	</ul>
</footer>
</html>
